<nav class="navbar navbar-expand-lg bar-bg nav-style rounded-top-4 lh-lg">
  <div class="container-fluid">
    <a id="nav-index" class="navbar-brand text-white me-5" routerLink="/">THE LIBRARY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/books/form" routerLinkActive="active-link">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/books/list" routerLinkActive="active-link">Book List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/books/search" routerLinkActive="active-link">Book Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/borrowings/form" routerLinkActive="active-link">Request Borrowing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/borrowings/list" routerLinkActive="active-link">Borrowing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link mx-1" routerLink="/summary" routerLinkActive="active-link">Summary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
