.base-style {
  background-color: #cddadf;
  font-family: Lexend, serif;
}

.my-container {
  max-width: 70%;
  margin-bottom: 3%;
  min-width: fit-content;
  min-height: 500px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
