table {
  max-width: 70%;
  min-width: fit-content;
  margin: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #a200d6;
  color: white;
}

.purple {
  color: #a200d6;
}
